<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{ url_for('static', filename='favicon/favicon.png') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename ='/css/style.css') }}">
	<title>{% block title %}{% endblock %} - YumBook</title>
  </head>
  <body>
	<div class="container">
	  <header class="header">
		<div class="item">
		  <img src="{{ url_for('static', filename='favicon/favicon.png') }}" class="favicon" />
		</div>
		<div class="item">
		  <nav class="actions">
			<a class="action" href="/create">
			  <i icon-name="file-plus" class="icon"></i>
			  Create
			</a>
			<a class="action" href="/preview">
			  <i icon-name="eye" class="icon"></i>
			  Preview
			</a>
			<a class="action" href="/browse">
			  <i icon-name="globe" class="icon"></i>
			  Browse
			</a>
		  </nav>
		</div>
		<div class="item">
		  <nav class="user">
			{% if 1==0 %} <!--Comment this out and replace with appropriate logic -->
			<a class="action" href="/sign_out"><i icon-name="log-out" class="icon"></i>Sign Out</a>
			{% else %}
			<a class="action" href="/sign_in"><i icon-name="log-in" class="icon"></i>Sign in</a>
			{% endif %}
			<a class="action" href="/sign_up"><i icon-name="user-plus" class="icon"></i>Sign up</a>
		  </nav>
		</div>
	  </header>
	  <div class="content">
		{% block content %}{% endblock %}
	  </div>
	  <footer class="footer">
		<div class="item">
		  <div class="copyleft">
			<i icon-name="copyleft" class="icon"></i>
			<small>YumBook project is available under GNU AGPLv3 or later</small>
		  </div>
		</div>
		<div class="item">
		  <div class="copyleft">
			<i icon-name="creative-commons" class="icon"></i>
			<small>This website is available under CC-BY-NC-SA 4.0</small>
		  </div>
		</div>
	  </footer>
	</div>
	<script src="{{ url_for('static', filename='js/lib/lucide.js' ) }}"></script>
	<script>
	 lucide.createIcons();
	</script>
	{% block script %}{% endblock %}
  </body>
</html>
