{% extends "base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
<h1 class="user-action">Sign In</h1>
<div class="user-action">
  <form method="post" action="/" class="create-form">
	<div class="field">
	  <label for="username" class="create-label">Username</label>
	  <input type="text" class="create-input" name="username" id="username">
	</div>
	<div class="field">
	  <label for="password" class="create-label">Password</label>
	  <input type="password" class="create-input" name="password" id="password">
	</div>
	<div class="field">
	  <input type="submit" class="create-input" name="Submit" value="Sign In">
	</div>
  </form>
</div>
{% endblock %}
