/* YumBook: A beautiful, free, privacy-respecting recipe
library and printable generator */

/* Removing unneccessary block element decoration and preliminary actions */

*, *:before, *:after {
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

:root{
  --bottom-border: #f5f5f5;
  --button: #e6e6fa;
  --button-hover: #fff0f5;
  --button-link: #a020f0;
  --content-background: #2b2929;
  --header-bg: #9b30ff;
  --content-default: #fafafa;
  --content-h1: #fffafa;
  --create-form-bg: #a020f0;
  --create-form-field: #ded2d6;
  --create-form-input: #2f4f4f;
  --create-form-file-bg: #54ff9f;
  --create-form-input-hover:  #fb5888;
  --create-form-label: #000000;
  --preview-heading: #f0ffff;
  --preview-title: #fff5ee;
}

.container{
  height: 100%;
  width: 100%;
}

/* Header stylization */

.header{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: .02rem solid var(--bottom-border);
  padding: 0.3rem;
  text-align: center;
  background-color: var(--header-bg);
}

.item > .favicon {
  padding-top: .4rem;
  padding-right: .2rem;
}

.favicon{
  width: 4rem;
  height: 4rem;
}

.item > .actions{
  display: flex;
}

.actions {
  display: flex;
  padding-top: 0.8rem;
  padding-left: 2rem;
}

.action {
  display: inline-flex;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: auto;
  margin-right: 1.2rem;
  border-radius: 1rem;
  background-color: var(--button);
  color: var(--button-link);
  text-decoration: none;
}

.action:hover{
  background-color: var(--button-hover);
}

.content {
  background-color: var(--content-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  color: var(--content-default);
}

.user {
  display: flex;
  padding-top: 0.8rem;
  padding-left: 82rem;
}

.icon {
  margin-right: 0.5rem;
}



.content > h1{
  color: var(--content-h1);
}

.content > ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.create-form {
  display: flex;
  flex-direction: column;
  background: var(--create-form-bg);
  border-radius: 1rem;
  color: inherit;
  padding: 1.5rem;
}

.field {
  padding: 0.8em;
  color: var(--create-form-field);
  text-align: center;
  display: grid;
}

.create-label {
  padding: 0.4em;
  color: var(--create-form-label);
}

.create-input {
  padding: 0.5rem;
  border-radius: 20px;
  border: .15em solid var(--create-form-input);
}

.create-input:hover {
  border-color: var(--create-form-input-hover);
  background-color: var(--button);
}

#background{
  display: none;
}

.create-label.submit{
  cursor: pointer;
  background-color: var(--create-form-file-bg);
  font-size: 1em;
  color: var(--create-form-label);
  border-radius: 1.3rem;
  border: .15em solid var(--create-form-input);
}

.create-label.submit:hover {
  background-color: var(--create-form-input-hover);
  transition-duration: 0.3s;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .1rem;
  background-color: var(--header-bg);
  border-top: 2px solid var(--bottom-border);
}

.item > .copyleft{
  display: inline-flex;
  align-items: center;
}

.content a{
  text-decoration: none;
  color: var(--button-link);
}

h1.error{
  font-size: 50px;
}

.lucide.lucide-upload.icon {
  padding-top: 8px;
}

.recipe-preview{
  display: grid;
  border-radius: 1rem;
  background-color: var(--create-form-bg);
  padding: 0.25rem;
}

.recipe-title{
  font-size: 2.5rem;
  text-align: center;
  color: var(--preview-title);
}

.recipe-image{
  border-radius: 20px;
  align-contents: center;
  border: 3px solid var(--bottom-border);
}

.recipe-heading{
  text-align: center;
  color: var(--preview-heading);
}

.recipe-ingredient{
  list-style-type: disc;
  color: var(--button);
  font-size: 1.1rem;
}

.recipe-directions{
  color: var(--button);
  font-size: 1.1rem;
  text-align: justify-content;
}

.content>.user-action{
  padding-top: 1rem;
}
